Hi <%= @user.name %>,

You have an event coming up on <%= @date %> at <%= @company.name %>. Get started by doing some research on them!</p>

Check out the company guide in hirepool:
<%= @url %>opportunity/<%= @interview.id %>?show_guide=true

We've aggregated data from a few public sources for you there.

Good luck!
- Nari from hirepool

PS: If you'd like to turn off your personalized event preparation reminder emails please contact us at: support@hirepool.io
