<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p></p>
    <p>It's almost time for your event on <%= @date %> at <%= @company.name %>!</p>
    <p>Hopefully you've done some prep and taken notes in hirepool. Review them <a href="<%= @url %>opportunity/<%= @interview.id %>?event_notes=<%= @event.id %>">now</a> to prep.</p>
    <p>Take deep breaths. Get in the zone. You've got this!</p>
    <p></p>
    <p>Good luck!</p>
    <p>- Nari from hirepool</p>
    <p></p>
    <p>PS: If you'd like to turn off your personalized event preparation reminder emails please contact us at: <a href="mailto:support@hirepool.io">support@hirepool.io</a></p>
  </body>
</html>