<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey Erin!</p>
    <p><%= @user.name %> added a new event. It's a <%= @event.style %> <%= @event.substyle %> on <%= @event.date %> for <%= @interview.job_title %> at <%= @company.name %>.</p>
    <p>Check it out at <a href="<%= @url %>/app/#/admin/user_profile/<%= @user.id %>"><%= @url %>/app/#/admin/user_profile/<%= @user.id %></a></p>
    <p><%= @user.name %> signed up via <%= @signup_method %><% if @method_is_access_group %>: <%= @user.access_group.title %><% end %>.<% if @user_has_sponsor %> Sponsor: <%= @user.sponsor %><% end %></p>

    <p>You're cool. Keep up the good work.</p>
  </body>
</html>
